$background: #12121a;
$primary:  #0000b3;
$lightPrimary: #1a1aff;
$darkPrimary: #FFF;
$error: #ff8989;
$white: #FFFFFF;
$gray: #808080;
$black: #000000;

$font-family: 'Roboto', sans-serif;

$marginBottom: 16rem;
$marginBottomMobile: 8rem;